<div class="container">
    <h1>Welcome to Email Sender App!</h1>
        <p>Send emails effortlessly with our simple and user-friendly interface.</p>
        <p>Get started now and reach out to your friends, family, or colleagues!</p>
    <a routerLink="/send" mat-flat-button class="send-btn" (click)="btnClick()">Start Sending Emails</a>
</div>
<div class="features">
    <h3 class="features-heading">Features</h3>
    <div class="features-container">
        <div class="feature">
            <div class="feature-icon-title">
                <mat-icon class="feature-icon">send</mat-icon>
                <h4 class="feature-title">Quick Send</h4>
            </div>
            <p>Send emails instantly without any hassle.</p>
        </div>
        <div class="feature">
            <div class="feature-icon-title">
                <mat-icon class="feature-icon">security</mat-icon>
                <h4 class="feature-title">Secure</h4>
            </div>
            <p>Your data is safe with us. We prioritize your privacy.</p>
        </div>
        <div class="feature">
            <div class="feature-icon-title">
                <mat-icon class="feature-icon">support</mat-icon>
                <h4 class="feature-title">24/7 Support</h4>
            </div>
            <p>We're here to help you anytime, day or night.</p>
        </div>
    </div>
</div>
